/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.body {
    background-image: url("/img/green-tea-2356770_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.breathingRoom{
    margin-top: 20px
}
.mediumFont{
    font-size: 1.1rem;
}

.largeTitle{
    font-size: 3.0rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige
}

.italic{
    font-style: italic
}

.bigtext{
    font-size: x-large;
}

.timerFont{
    font-size: 2.0rem
}

.topButtonMargin{
    margin-top: 60px;
}

.titleMargin{
    margin-bottom: 60px;
}


.outlined {
    color: white !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.redDelete {
    color: red;
}

.greenBrew {
    color: limegreen;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.blackFont{
    color: black;
}
/* Provide sufficient contrast against white background */
a, a:hover {
  color: white;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  background-color: white;
  border-color: #000000;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}*/


.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
